#product-listing-section {
    padding: 20px 0;
}

.jp-product-listing-image {
    width: 69px;
    height: 69px;
    display: block;
}

.jp-product-listing-btn {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}